/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom, #f5f5f5, #d8e3e7);
    color: #333;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #474787, #2c2c54);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f5b041;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-buttons .btn {
    text-decoration: none;
    background-color: #f5b041;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.navbar-buttons .btn:hover {
    transform: scale(1.1);
}

/* Features Section */
.features-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 80px; /* To account for fixed navbar */
    flex: 1;
}

.features-section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* for Two columns (2,1fr)*/
    gap: 30px;
    margin-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
    height: 300px; /* Height for long cards */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    color: black; /* Text color inside card */
}

.feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 1rem;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.feature-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(245, 176, 65, 0.2), transparent);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feature-card:hover::before {
    opacity: 1;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}
