/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom, #f5f5f5, #d8e3e7);
    color: #333;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Section Styles */
section {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    height: auto;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.02);
}

/* Title */
h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    background-color: #f9f9f9;
}

form input:focus {
    border-color: #474787;
    outline: none;
    box-shadow: 0 0 8px rgba(71, 71, 135, 0.5);
    background-color: #fff;
}

/* Submit Button */
.btn {
    padding: 15px;
    background-color: #474787;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    box-shadow: 0 4px 8px rgba(71, 71, 135, 0.3);
}

.btn:hover {
    background-color: #2c2c54;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(71, 71, 135, 0.4);
}

/* Switch Between Login and Sign Up */
.switch-page-link {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}

.switch-page-link a {
    text-decoration: none;
    color: #474787;
    font-weight: bold;
}

.switch-page-link a:hover {
    color: #2c2c54;
    text-decoration: underline;
}
